.app__container{
                  font-size: 16px;
                  margin: 280px;
                  padding: 0%;
                  margin-top: 10px;
                  box-sizing: content-box;
                  margin-left: 10rem;
                  
}

